@font-face {
  font-family: Metropolis-regular;
  src: url("./Fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: Metropolis-bold;
  src: url("./Fonts/Metropolis-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-background: #fef9fc;
  --color-white: #ffffff;
  --color-primary: #ed017f;
  --color-pera: #999999;
  --font-MetroPolis: Metropolis-regular;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-MetroPolis), sans-serif;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.primary-btn {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 4px;
  border: 2px solid var(--color-primary);
  letter-spacing: 3px;
  transition: all 0.3s ease;
}
.primary-btn:hover {
  background: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.title1 {
  font-size: 57px;
  line-height: 1.19;
  font-family: Metropolis-bold, sans-serif;
}
.title2 {
  font-size: 36px;
  font-weight: 700;
}
.title3 {
  font-size: 40px;
  font-family: Metropolis-bold, sans-serif;
}
.container {
  max-width: 1396px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.fa-phone {
  color: var(--color-primary);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-50 {
  width: 50%;
  padding: 0 15px;
}
.col-8 {
  width: calc(8.33% * 8);
  padding: 0 15px;
}
.col-6 {
  width: calc(8.33% * 6);
  padding: 0 15px;
}
.col-4 {
  width: calc(8.33% * 4);
  padding: 0 15px;
}
.col-3 {
  width: calc(8.33% * 3);
  padding: 0 15px;
}
.col-2 {
  width: calc(8.33% * 2);
  padding: 0 15px;
}

/* all section padding  */
.customer-experience-sec,
.our-service-sec,
.best-result-sec,
.footer-sec {
  padding-block: 94px;
}

/* Header section ================================*/
header {
  padding: 17px 0;
}
nav,
.navbar-collapsed,
.navbar-collapsed > ul,
.nav-btn {
  display: flex;
  align-items: center;
}
.navbar-collapsed {
  flex-grow: 1;
}
.navbar-collapsed > ul {
  margin: 0 auto;
}
.menu {
  display: none;
}
.nav-items {
  margin-right: 41.6px;
}
.nav-links {
  font-size: 12px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  position: relative;
}
.nav-links::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--color-primary);
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
}
.nav-links:hover::after {
  width: 100% !important;
}
.srch-btn {
  margin-right: 27px;
  transition: 0.3s ease;
}
.srch-btn:hover {
  transform: scale(1.2);
}
.nav-btn .primary-btn {
  padding: 18px 29.64px 16.17px 30.2px;
}

/* Banner section ==============================*/

.banner-sec {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-sec .row {
  align-items: center;
}
.banner-sec .title1 {
  max-width: 431px;
}
.banner-sec p {
  margin: 23px 0 38px;
  max-width: 391px;
  font-weight: 500;
  color: #676767;
}
.banner-btn,
.banner-social-links > ul {
  display: flex;
  align-items: center;
}
.banner-btn {
  margin-bottom: 51px;
}
.banner-btn .primary-btn,
.banner-btn .secondary-btn {
  padding: 13px 22px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.secondary-btn {
  margin-left: 20px;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-primary);
  transition: all 0.3s ease;
}
.secondary-btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
.banner-social-links .tel {
  font-size: 17px;
  font-weight: 600;
}
.banner-social-links > ul > li {
  margin-right: 16px;
}
.banner-social-links > ul > li:first-child {
  margin-right: 44px;
  position: relative;
}
.banner-social-links > ul > li:first-child::after {
  content: "";
  width: 1px;
  background: rgba(0, 0, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -22px;
}
.banner-link-items {
  transition: all 0.3s ease;
}
.banner-link-items:hover {
  transform: scale(1.2);
}
.banner-img {
  max-width: 905px;
  position: relative;
}
.banner-img::before,
.banner-img::after {
  content: "";
  position: absolute;
  height: 71px;
  width: 197.57px;
  border-radius: 55px;
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 12%);
  right: 82.83px;
  top: 112px;
  background: url(images/home-loan.png) center/contain no-repeat;
}
.banner-img::after {
  left: 77.19px;
  top: 0;
  background: url(images/car-loan.png) center/contain no-repeat;
}
.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* customer experience section ======================= */

.customer-ex-hdr {
  text-align: center;
}
.customer-ex-hdr p {
  max-width: 622px;
  margin: 18px auto 78px;
  color: var(--color-pera);
}
.card {
  margin-bottom: 16px;
  padding: 16px 24px;
}
.card > h3 {
  margin: 18px 0 10px;
  font-size: 22px;
  font-weight: 700;
}
.card p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: var(--color-pera);
}
.card-icon > img {
  width: 37px;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}
.card:hover .card-icon > img {
  transform: scale(1.15);
}

/* our service section ============================*/

.our-service-sec {
  background: rgb(252, 224, 239, 12%);
}
.service-hdr {
  text-align: center;
  margin-bottom: 66px;
}
.service-hdr .title2 {
  margin-bottom: 18px;
}
.service-hdr > p {
  color: var(--color-pera);
  max-width: 791px;
  margin: 0 auto;
}

.service-card {
  max-width: 254px;
  margin-bottom: 20px;
  margin-inline: auto;
}
.card-img {
  transition: all 0.3s ease;
}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}
.service-card:hover .card-img {
  box-shadow: 2px 2px 18px 0 rgba(0, 0, 0, 12%);
  transform: scale(1.02);
}
.card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card-link > h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}

/* best result section =========================== */

.best-result-hdr {
  text-align: center;
}
.best-result-hdr .title2 {
  margin-bottom: 20px;
}
.best-result-hdr > p {
  margin-bottom: 91px;
  color: var(--color-pera);
}
.result-card {
  max-width: 172px;
  margin: 0 auto 67.5px;
}
.result-card .title3 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 8px;
  transition: all 0.3s ease;
}
.result-card > p {
  font-size: 16px;
  line-height: 1.56;
  text-transform: uppercase;
  color: var(--color-pera);
}

.result-card:hover .title3 {
  color: var(--color-primary);
}

.footer-sec .row {
  justify-content: space-between;
}

.footer-navigation > p {
  font-size: 14px;
  margin-bottom: 16px;
  font-family: var(--font-MetroPolis);
  line-height: 1.57;
}
.footer-heading {
  font-size: 14px;
  font-family: Metropolis-bold, sans-serif;
  margin-bottom: 20px;
  color: var(--color-black);
}
.products-links {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: var(--font-MetroPolis);
}
.footer-social-links > ul {
  display: flex;
  align-items: center;
}
.footer-social-links .tel {
  font-size: 17px;
  font-weight: 600;
}
.footer-social-links > ul > li {
  margin-right: 16px;
}

.footer-link-items,
.footer-links {
  transition: all 0.3s ease;
}
.footer-link-items:hover {
  transform: scale(1.2);
}
.footer-links {
  margin-bottom: 16px;
}
.footer-links:hover {
  color: var(--color-primary);
}
.footer-sec .row .col-2:last-child {
  display: flex;
  align-items: center;
}

/* media query ===================================*/

@media screen and (max-width: 1200px) {
  .col-8,
  .col-4 {
    width: 100%;
  }

  .banner-sec .row {
    flex-wrap: wrap-reverse;
  }
  .banner-sec .title1 {
    font-size: 32px;
  }
  .banner-img {
    margin: 0 auto;
  }
  .banner-img::after,
  .banner-img::before {
    transform: scale(0.8);
  }
  .card {
    margin-bottom: 2px;
  }
  .card > h3 {
    margin-bottom: 7px;
    margin-top: 10px;
    font-size: 12px;
  }
  .customer-ex-hdr p {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 992px) {
  .menu {
    display: block;
    margin-left: auto;
  }
  .navbar-collapsed {
    display: none;
  }
  .footer-sec .row {
    justify-content: center;
  }
  .footer-sec .col-2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-social-links ul,
  .footer-sec .row .col-2:last-child {
    justify-content: center;
  }
}

@media screen and (max-width: 710px) {
  .title2 {
    font-size: 25px;
  }

  .banner-sec .row .col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-img::after {
    left: -43px;
  }
  .banner-img::before {
    right: -10px;
  }
  .banner-img::after,
  .banner-img::before {
    transform: scale(0.6);
  }

  .banner-hdr {
    text-align: center;
  }
  .banner-btn,
  .banner-social-links > ul {
    justify-content: center;
  }
  .col-3,
  .col-2 {
    width: 50%;
  }
  .our-service-sec .row {
    justify-content: center;
  }
  .service-card {
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .result-card {
    margin: 0 auto 47.5px;
  }
  .footer-sec {
    text-align: center;
  }

  .footer-navigation .footer-social-links {
    margin: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .col-3,
  .col-2 {
    width: 100%;
  }
  .customer-experience-sec,
  .our-service-sec,
  .best-result-sec,
  .footer-sec {
    padding-block: 60px;
  }
  .banner-btn .primary-btn {
    padding: 10px 15px;
    font-size: 7px;
  }
  .banner-btn .secondary-btn {
    padding: 10px 15px;
    font-size: 7px;
  }
  .customer-experience-sec {
    padding: 40px 0;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .result-card {
    text-align: center;
  }
}
